# ==============================
# Python
# ==============================
__pycache__/
*.py[cod]
*$py.class
*.pyo
*.pyd

# ==============================
# Virtual Environment
# ==============================
venv/
.venv/
env/
ENV/

# ==============================
# Jupyter Notebook
# ==============================
.ipynb_checkpoints/

# ==============================
# BERT / Hugging Face Models
# ==============================
bert_imdb_model/
./bert_imdb_model/
checkpoint-*/

# Model/cache files
*.bin
*.safetensors
*.pt
*.pth

# ==============================
# Hugging Face Cache
# ==============================
.cache/
huggingface_cache/
transformers_cache/

# ==============================
# Dataset
# ==============================
acllmdb/
*.txt

# ==============================
# Python / ML caches
# ==============================
*.pkl
*.pickle
*.joblib

# ==============================
# Logs
# ==============================
*.log

# ==============================
# IDE / VS Code
# ==============================
.vscode/
.idea/

# ==============================
# OS files
# ==============================
.DS_Store
Thumbs.db

# ==============================
# Temporary files
# ==============================
*.tmp
*.temp
*.swp
*.bak